$fg: #B3B1AD;
$bg: #0A0E14;
$orange: #FF8F40;
$yellow: #D5FF80;
$red: #D95757;
$green: #86B300;

* {
  font-family: JetBrains Mono, Symbols Nerd Font;
  font-size: 1.1rem;
  transition: 0.6s;
}

window {
  background: transparent;
  /* border: solid red 4px; */
}

button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}

label, image {
  color: $fg;
  padding: 0rem 1rem;
  margin: 0.6rem 0.3rem;
  background: rgba(60, 56, 54, 0.8);
  border-radius: 2rem;
}

.systray label {
  padding: 0rem 0rem;
  margin: -0.3rem -1rem;
  background: none;
  color: $bg;
  /* border: 2px solid red; */
  border-radius: 0rem;
}

tooltip {
  border-radius: 2rem;
  border: none;
  background: rgba(60, 56, 54, 0.9);
}

tooltip label {
  border-radius: 0rem;
  background: transparent;
}

calendar {
  background: transparent;
  border: none;
}

calendar.current {
  border: 4px $red solid;
}

graph {
  border: 4px $red solid;
}

.workspace-entry.current label {
  background: $orange;
}

.almost-critical label {
  background: $yellow;
}

.critical label {
  background: $red;
}

.battery.charging label {
  background: $green;
}

/* box { */
/*   border: solid red 2px; */
/* } */
