configuration {
	font: "OpenSans 11";
	show-icons: true;
	icon-theme: "/usr/share/themes/Yaru-Blue";
	drun-display-format: "{name}";
	disable-history: false;
	sidebar-mode: false;
	hide-scrollbar: true;
	fullscreen: false;
	threads: 1;
	scroll-method: 0;
	theme: "~/.config/rofi/themes/mac.rasi";
	display-drun: "";
}
