configuration {
	font: "JetBrains Mono 12";
	show-icons: true;
	icon-theme: "/usr/share/themes/Yaru-Blue";
	drun-display-format: "{name}";
	disable-history: false;
	sidebar-mode: false;
	hide-scrollbar: true;
	fullscreen: false;
	threads: 4;
	scroll-method: 0;
	display-drun: "";
}
@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
