configuration {
	font: "OpenSans 10";
	show-icons: true;
	icon-theme: "Adwaita";
	drun-display-format: "{name}";
	disable-history: false;
	sidebar-mode: false;
	hide-scrollbar: true;
	fullscreen: false;
	threads: 0;
	scroll-method: 0;
	theme: "/usr/share/rofi/themes/Blurry.rasi";
	display-drun: "";
}
@import "/usr/share/rofi/themes/Blurry.rasi"
