* {
    border: none;
    border-radius: 7;
    font-family: FontAwesome, OpenSans;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: #00010A;
    border-bottom: 0px;
    color: #FAFAFA;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 0;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #FAFAFA;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -1px transparent;
    border-radius: 7px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #FAFAFA;
}

#workspaces button.focused {
    background-color: #304357;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #FF3333;
}

#clock,
#battery,
#cpu,
#disk,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#date,
#idle_inhibitor {
    padding: 0 10px;
    margin: 2px 3px;
    color: #FAFAFA;
}

#window,
#workspaces {
    margin: 0 5px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #304357;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #304357;
}

#cpu {
    background-color: #304357 ;
}

#disk {
    background-color: #304357 ;
}

#memory {
    font-size: 12px;
    background-color: #304357;
}

#network {
    font-size: 12px;
    background-color: #304357  ;
}

#network.disconnected {
    background-color: #FF3333;
}

#pulseaudio {
    background-color: #304357 ;
}

#pulseaudio.muted {
    background-color: #141925;
    color: #4D5566;
}

#tray {
    background-color: #304357;
}

#idle_inhibitor {
    background-color: #304357;
}

#idle_inhibitor.activated {
    background-color: #E6B450;
}