* {
  border-radius: 12px;
  font-family: JetBrains Mono, Symbols Nerd Font;
  font-size: 15px;
  transition: 0.8s;
  color: #fce8c3;
}

#waybar {
  background: #1c1b19;
  background: linear-gradient(0deg, #1c1b19 0%, #282828 100%);
  border-radius: 0px 0px 0px 0px;
}

#workspaces {
  margin: 0px 8px;
}

#workspaces button {
  box-shadow: none;
  border: none;
  background: #053240;
  padding: 1px 5px 0px;
  margin: 8px 4px;
}
#workspaces button.focused,
#workspaces button.active {
  box-shadow: inset 0px 0px 10px -5px #68a8e4;
}

#workspaces button:hover {
  box-shadow: inset 0px 0px 10px 0px #68a8e4;
}

#battery.critical,
#workspaces button.urgent,
#idle_inhibitor.deactivated,
#pulseaudio.muted {
  box-shadow: inset 0px 0px 30px -10px #ef2f27;
  color: #1c1b19;
}

#battery.charging {
  box-shadow: inset 0px 0px 30px -10px #519f50;
  color: #1c1b19;
}

#battery.warning {
  box-shadow: inset 0px 0px 30px -10px #fbb829;
  color: #1c1b19;
}

#idle_inhibitor.activated {
  box-shadow: inset 0px 0px 30px -10px #2c78bf;
}

#clock,
#battery,
#cpu,
#disk,
#memory,
#idle_inhibitor,
#network,
#pulseaudio,
#tray,
#date {
  padding: 3px 8px 2px;
  margin: 8px 4px;
  background: #053240;
}
