* {
	border-radius: 15px;
	font-family: JetBrains Mono, Symbols Nerd Font;
	font-size: 15px;
	transition-duration: .8s;
	color: #dfbf8e;
}

#waybar {
	background-color: rgba(40, 40, 40, 0.90);
	border-radius: 0px 0px 15px 15px;
}

#workspaces {
	margin: 0px 8px;
}

#workspaces button {
	padding: 1px 5px 0px;
	margin: 8px 4px;
	background-color: rgba(93, 53, 53, 0.90);
}

#workspaces button.hover {
	background-color: #b86767;
}

#workspaces button.focused, #workspaces button.active {
	background-color: #884747;
}

#workspaces button.urgent {
	background-color: #ff3333;
}

#pulseaudio.muted {
	background-color: #ff3333;
}

#clock,
#battery,
#cpu,
#disk,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#date {
	padding: 3px 8px 2px;
	margin: 8px 4px;
	background-color: rgba(93, 53, 53, 0.90);
}

