* {
  border: none;
  font-family: JetBrains Mono, Symbols Nerd Font;
  font-size: 15px;
  transition: 0.8s;
  color: #fbf1c7;
}

#waybar, #tray menu {
  background: #282828;
}

#workspaces {
  margin: 0px 8px;
}

#workspaces button.focused,
#workspaces button.active,
#workspaces button:hover {
  background: #458588;
}

#battery.critical,
#workspaces button.urgent,
#idle_inhibitor.deactivated,
#pulseaudio.muted {
  background: #cc241d;
}

#battery.charging {
  background: #689d6a;
}

#battery.warning {
  background: #d79921;
}

#clock,
#battery,
#cpu,
#disk,
#memory,
#idle_inhibitor,
#network,
#pulseaudio,
#tray,
#date,
#idle_inhibitor,
#battery,
#workspaces button {
  padding: 3px 8px 2px;
  margin: 8px 4px;
  background: #076678;
  border-radius: 15px;
  box-shadow: inset 0px 0px 4px 4px #282828;
}
