* {
  font-family: JetBrains Mono;
  font-size: 24px;
  transition-property: background-color;
  transition-duration: 0.7s;
}
window {
  background-color: #282828;
  border-radius: 10px;
}
button {
  color: #ebdbb2;
  background-color: #076678;
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15%;
  margin: 15px;
}

button:active,
button:hover {
  background-color: #458488;
}

button:focus {
  background-color: #458488;
}

#lock {
  background-image: image(url("/nix/store/n2znc0cjx6wxd4xwp246pp7g469zyim3-wlogout-1.2.2/share/wlogout/icons/lock.png"), url("/nix/store/n2znc0cjx6wxd4xwp246pp7g469zyim3-wlogout-1.2.2/local/share/wlogout/icons/lock.png"));
}

#logout {
  background-image: image(url("/nix/store/n2znc0cjx6wxd4xwp246pp7g469zyim3-wlogout-1.2.2/share/wlogout/icons/logout.png"), url("/nix/store/n2znc0cjx6wxd4xwp246pp7g469zyim3-wlogout-1.2.2/local/share/wlogout/icons/logout.png"));
}

#suspend {
  background-image: image(
    url("/nix/store/n2znc0cjx6wxd4xwp246pp7g469zyim3-wlogout-1.2.2/share/wlogout/icons/suspend.png"),
    url("/nix/store/n2znc0cjx6wxd4xwp246pp7g469zyim3-wlogout-1.2.2/local/share/wlogout/icons/suspend.png")
  );
}

#hibernate {
  background-image: image(
    url("/nix/store/n2znc0cjx6wxd4xwp246pp7g469zyim3-wlogout-1.2.2/share/wlogout/icons/hibernate.png"),
    url("/nix/store/n2znc0cjx6wxd4xwp246pp7g469zyim3-wlogout-1.2.2/local/share/wlogout/icons/hibernate.png")
  );
}

#shutdown {
  background-image: image(
    url("/nix/store/n2znc0cjx6wxd4xwp246pp7g469zyim3-wlogout-1.2.2/share/wlogout/icons/shutdown.png"),
    url("/nix/store/n2znc0cjx6wxd4xwp246pp7g469zyim3-wlogout-1.2.2/local/share/wlogout/icons/shutdown.png")
  );
}

#reboot {
  background-image: image(url("/nix/store/n2znc0cjx6wxd4xwp246pp7g469zyim3-wlogout-1.2.2/share/wlogout/icons/reboot.png"), url("/nix/store/n2znc0cjx6wxd4xwp246pp7g469zyim3-wlogout-1.2.2/local/share/wlogout/icons/reboot.png"));
}
