#sidebar-header {
    display: none;
}

/* Hide splitter */
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]+#sidebar-splitter {
    display: none !important;
}

/* Shrink sidebar until hovered */
:root {
    --sidebar-width: 32px;
    --sidebar-hover-width: 300px;
}

#sidebar-box:not([sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]) {
    min-width: var(--sidebar-hover-width) !important;
    max-width: none !important;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
    overflow: hidden !important;
    position: relative !important;
    transition: all 200ms !important;
    /* min-width: var(--sidebar-width) !important; */
    /* max-width: var(--sidebar-width) !important; */
    min-width: var(--sidebar-width) !important;
    width: var(--sidebar-width) !important;
    max-width: var(--sidebar-width) !important;
    z-index: 1;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover,
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar {
    transition: all 200ms !important;
    min-width: var(--sidebar-hover-width) !important;
    max-width: var(--sidebar-hover-width) !important;
    z-index: 1;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover {
    margin-right: calc((var(--sidebar-hover-width) - var(--sidebar-width)) * -1) !important;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]>#sidebar {
    min-width: var(--sidebar-width) !important;
}

/* #main-window #titlebar {
  overflow: hidden;
  transition: height 0.3s 0.3s !important;
} */
/* Default state: Set initial height to enable animation */
#main-window #titlebar {
    height: 3em !important;
}

#main-window[uidensity="touch"] #titlebar {
    height: 3.35em !important;
}

#main-window[uidensity="compact"] #titlebar {
    height: 2.7em !important;
}

/* Hidden state: Hide native tabs strip */
#main-window[titlepreface*="⠀"] #titlebar {
    height: 0 !important;
}

/* Hidden state: Fix z-index of active pinned tabs */
#main-window[titlepreface*="⠀"] #tabbrowser-tabs {
    z-index: 0 !important;
}
